Reading in the data

In [21]:
import git
import numpy as np
import pandas as pd
# Add more imports in this block later. There will need to be several "from sklearn.whatever import something" lines

In [59]:
repo = git.Repo('.', search_parent_directories = True)
root = repo.working_tree_dir

# The sample id and the log-transformed gene expression values.
half_data_1 = pd.read_csv(root + '\data\RKNGHStress.csv')
half_data_1 = half_data_1.loc[:, half_data_1.columns.str.startswith(('Sample', 'Log'))]
half_data_1 = half_data_1.rename(columns = {'Sample' : 'sample', 'Log16S' : 'bact', 'Logcbblr' : 'cbblr', 'Log18S' : 'fungi', 'Logphoa' : 'phoa', 'Logurec' : 'urec'})

half_data_2 = pd.read_csv(root + '\data\RKNGHStressPCAPSR.csv')

In [60]:
half_data_1.columns

Index(['sample', 'bact', 'cbblr', 'fungi', 'phoa', 'urec'], dtype='object')

In [48]:
# half_data_1[[col for col in half_data_1 if col.startswith('Log')]]
half_data_1.loc[:, half_data_1.columns.str.startswith(('Sample', 'Log'))]

    Sample     Log16S  Logcbblr    Log18S   Logphoa   Logurec
0        1  10.060663  7.989052  5.839434  3.023714  5.717093
1        2  10.438937  8.633705  6.463197  4.555121  6.025394
2        3  10.214898  8.284720  5.891403       NaN  5.633758
3        4  10.116629  8.282452  6.822228  3.468452  5.688841
4        5  10.476234  8.431101  6.112417  3.082671  6.116652
..     ...        ...       ...       ...       ...       ...
75      76   9.532640  8.335889  6.503063  4.187976  5.723282
76      77   9.929145  9.280572  7.069494  4.587523  6.167327
77      78  10.036882  8.933283  6.960077  4.558913  6.110400
78      79   9.884118  9.025674  7.027090  4.190044  5.832951
79      80   9.908760  8.596271  6.953883  3.777106  6.140250

[80 rows x 6 columns]